@model DateTime

@{
    var daysInMonth = DateTime.DaysInMonth(Model.Year, Model.Month);
    var startsAt = Model.DayOfWeek;
    var currentDay = Model.Date;
    var totalSlots = (daysInMonth + (int)Model.DayOfWeek - 1);
}

<div class="container">
    <div class="row">        
        <table class="table highlight">
            <thead>
                <tr>
                    @foreach (var dayOfWeek in Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>())
                    {
                        <th scope="col">@(dayOfWeek)</th>                        
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (int i = 0; i < totalSlots; i++)
                    {
                        if (i == 0 && i <= (int)startsAt)
                        {
                            <td></td>
                        }
                        else
                        {                            
                            if (i % 7 == 0 && i > 0)
                            {
                                @:</tr><tr> // start a new row every 7 days
                            }
                            <td class="day @(currentDay.Date == Model.Date ? "selectedDay" : string.Empty)" >@currentDay.Day</td>
                            currentDay = currentDay.AddDays(1);                            
                        }
                    }
                </tr>
            </tbody>
        </table>    
    </div>
</div>