@model IEnumerable<EventDto>

@{
    ViewData["Title"] = "Thinklogic Assessment";
    var idContainer = Guid.NewGuid().ToString("N");
}

<div id="@idContainer">
    @(Html.Partial("_Calendar", DateTime.Now))
    <hr />
    @(Html.Partial("_Events"))
    <hr />
    @(Html.Partial("_SaveEvent"))    
</div>
@section Scripts {
    <script>
        window.onload = function () {
            new calendar($('#@(idContainer)'));
        };
    </script>
}