@model EventsDto

@{
    ViewData["Title"] = "Thinklogic Assessment";
    var idContainer = Guid.NewGuid().ToString("N");
}

<div id="@idContainer">
    @(Html.Partial("_Calendar", Model.CurrentDate ?? DateTime.Now))
    <hr />
    @(Html.Partial("_Events", Model.Events))
    <hr />
    @(Html.Partial("_SaveEvent"))    
</div>
@section Scripts {
    <script>
        window.addEventListener('load', function () {
            new calendar($('#@(idContainer)'));
        });
    </script>
}