@model IEnumerable<EventDto>

@{
    ViewData["Title"] = "Thinklogic Assessment";
    var idContainer = Guid.NewGuid().ToString("N");
}

<div id="@idContainer">
    @(Html.Partial("Events"))
    @(Html.Partial("SaveEvent"))    
</div>
@section Scripts {
    <script>
        window.onload = function () {
            new calendar($('#@(idContainer)'));
        };
    </script>
}